@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --body-bg: #d7ccc8;
  --body-content: #3e2723;
  --btn-search-tx: #fff;
  --btn-search-bg: #bcaaa4;
  --lin-hover-bg: #bcaaa4;
  --btn-logout-bg: #a1887f;
  --home-bg: #efebe9;
}

.dark-mode:root {
  --body-bg: #11101d;
  --body-content: #fff;
  --btn-search-bg: #1b1d31;
  --lin-hover-bg: #fff;
  --lin-hover-tx: #11101d;
  --btn-logout-bg: #1d1b31;
  --home-bg: #212121;
}
body {
  position: relative;
  min-height: 100vh;
  min-width: 100%;
  overflow: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background: var(--body-bg);
  padding: 6px 14px;
  transition: all 0.3s ease;
  pointer-events: auto;
}

.sidebar.active {
  width: 240px;
}

.sidebar .logo_content .logo {
  color: var(--body-content);
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: auto;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.sidebar.active .logo_content .logo {
  opacity: 1;
  pointer-events: none;
  transition: all 0.5s ease;
}

.logo_content .logo img {
  width: 50px;
  height: 50px;
  right: 90%;
  object-fit: contain;
}

.logo_content .logo .logo_name {
  right: 90%;
  font-size: 20px;
  font-weight: 400;
}

.sidebar #btn {
  position: absolute;
  color: var(--body-content);
  left: 50%;
  top: 6px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

.sidebar.active #btn {
  left: 90%;
}

.sidebar ul {
  margin-top: 20px;
}

.sidebar ul li {
  position: relative;
  margin: 0 5px;
  height: 50px;
  width: 100%;
  list-style: none;
  line-height: 50px;
}

.sidebar ul li .tooltip {
  position: absolute;
  top: 0;
  height: 35px;
  width: 122px;
  left: 78px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-50%, -50%);
  border-radius: 6px;
  line-height: 35px;
  text-align: center;
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
  transition: all 0.2s ease;
}

.sidebar.active ul li .tooltip {
  display: none;
}

.sidebar ul li:hover .tooltip {
  top: 20%;
  opacity: 1;
}

.sidebar ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  padding-left: 50px;
  font-size: 18px;
  background: var(--btn-search-bg);
  color: var(--body-content);
}

.sidebar ul li .bx-search-alt {
  position: absolute;
  z-index: 99;
  color: var(--body-content);
  font-size: 22px;
  transition: all 0.2s ease;
}

.sidebar ul li .bx-search-alt:hover {
  background: var(--lin-hover-bg);
  color: var(--lin-hover-tx);
}

.sidebar ul li a {
  color: var(--body-content);
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
}

.sidebar ul li a:hover {
  background: var(--lin-hover-bg);
  color: var(--lin-hover-tx);
}

.sidebar ul li i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.sidebar .link_name {
  opacity: 0;
  pointer-events: none;
}
.sidebar.active .link_name {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.2s ease;
}

.sidebar .profile_content {
  position: absolute;
  background: var(--btn-logout-bg);
  color: var(--body-content);
  bottom: 0;
  left: 0;
  width: 100%;
}

.sidebar .profile_content .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background: var(--btn-logout-bg);
  transition: all 0.3s ease;
}

.sidebar.active .profile_content .profile {
  background: none;
}

.sidebar .profile_content .profile .profile_details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.sidebar.active .profile_content .profile .profile_details {
  opacity: 1;
  pointer-events: auto;
}

.profile .profile_details img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
}

.profile .profile_details .name_job {
  padding-left: 10px;
  margin-right: 10px;
}

.profile .profile_details .name {
  font-size: 12px;
  font-weight: 400;
}

.profile #log_out {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.4s ease;
  background: var(--btn-logout-bg);
}

.sidebar.active .profile #log_out {
  left: 88%;
}
.sidebar.active .profile #log_out {
  background: none;
}

.home_content {
  background: var(--home-bg);
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  transition: all 0.3s ease;
  pointer-events: none;
}

.home_content .text {
  color: var(--body-content);
  font-size: 25px;
  font-weight: 500;
  margin: 12px;
}

.sidebar.active ~ .home_content {
  width: calc(100% - 240px);
  left: 240px;
}
